*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* custom style  */
.container{
    max-width: 1280px;
    margin: auto;
}
.banner{
    display: flex;
    align-items:center ;
    background-color: black;
    color: white;
    border-radius: 15px;
    margin: 50px auto;
}
.banner-left {
    padding-left: 35px;
}
.banner-left h1{
    font-size: 70px;
    font-weight: bold;
    margin: 15px 0;
}
.banner-left p{
    color: #FFFFFF;
} 
.btn{
    background-color: #DD0000;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: 600;
    color: #FFFFFF;
    border: none;
    margin-top: 15px;
}
.banner-right img{
    display: block;
}